#dessin0{
	width:250px;
	height:250px;
	border-radius: 3%;
}

#dessin1{
	width: 220px;
	height: 220px;
	border-radius: 3%;
}

#dessin2{
	width: 220px;
	height: 220px;
	border-radius: 3%;
}

#dessin3{
	width: 220px;
	height: 220px;
	border-radius: 3%;
}